name: Integration Test (release)

on:
  workflow_dispatch:
  push:
    branches:
      - release-please--branches--main

jobs:
  backend:
    strategy:
      fail-fast: false
      matrix:
        component: [model-backend, controller-model]
    uses: instill-ai/model/.github/workflows/integration-test-backend.yml@main
    with:
      component: ${{ matrix.component }}
      target: release
